#invoice_form {font-size:14px; padding:0;}
#invoice_form label
    {font-weight:bold;}
#invoice_form input, #invoice_form select
    {border:1px solid gray;}
#invoice_form input.autofill
    {background-color: transparent; border:0;}
#invoice_form input.error, #invoice_form select.error, 
#invoice_form input.errorint, #invoice_form select.errorint, 
#invoice_form input.errornum, #invoice_form select.errornum
    {border:1px solid red; background-color:#FEF1EC;}

#invoice_form .form_header, #invoice_form .invoice_info, #invoice_form .order_table, #invoice_form .controls
    {clear:both;}
#invoice_form .form_header h2, #invoice_form .form_header div, #invoice_form .invoice_info>div, #invoice_form .invoice_info h2
    {float:left; margin:0; padding:5px 0 5px 3px;}

#invoice_form .form_header div, #invoice_form .invoice_info .winery
    {float:right;}
#invoice_form .form_header div
    {text-align:right;}
#invoice_form .form_header input
    {width:125px; text-align:center;}
#invoice_form #invoicenum     {color:black !important; border: 1px solid gray;}

#invoice_form .invoice_info
    {overflow:auto; margin:0 0 10px; padding:0; border:0px solid gray;}
#invoice_form .invoice_info h2
    {float:none;}
#invoice_form .invoice_info div.billing div
    {margin: 0 0 7px 125px;}
#invoice_form .invoice_info div.billing input, 
#invoice_form .invoice_info div.billing select, #invoice_form .invoice_info div.winery input, 
#invoice_form .invoice_info div.winery select
    {width:225px;}
#invoice_form .invoice_info div.billing div label, #invoice_form .invoice_info div.winery div label
    {line-height: 1.1; margin: 5px 5px 0 -125px; width: 120px; float: left;}
#invoice_form .invoice_info div.winery div
    {margin: 0 0 7px 105px;}
#invoice_form #billto_list
    {position:absolute; margin:-22px 0; padding:0; list-style:none; left:375px;	 background-color:#fff; border:2px solid gray; display:none; font-size:.9em; 
	font-weight:bold; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
#invoice_form #billto_list li
    {padding:4px; font-family:Verdana, Tahoma, Arial, sans-serif;}
#invoice_form #billto_list li:hover, #invoice_form #billto_list li.hover
    {background-color:#6699cc; color:white; cursor:default;}
#invoice_form #billto_list ul
    {display:none;}

#invoice_form .controls
	{margin:20px 0 10px; overflow:auto;}
#invoice_form .controls input, #invoice_form .controls a
    {color:white; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; padding:3px; cursor:pointer; font-weight:bold; display:block; float:right;
	margin:auto 0 auto 10px;}
#invoice_form #add_row
    {background-color:#4a4; border:1px solid; border-color:#61c061 #358635 #252;}
#invoice_form #del_row
    {background-color:#a44; border:1px solid; border-color:#c06161 #863535 #522;}
#invoice_form #invoice_submit
    {background-color:#eee; color:black; padding:10px 3px; border:1px solid #808080; border-color:#999 #676767 #454545;}
#invoice_form #invoice_print
    {font-weight:normal; background-color:#eee; color:black; padding:5px; text-align:center; line-height:1em; border:1px solid #808080; 
	border-color:#999 #676767 #454545;}
#invoice_form #invoice_print span
    {color:#777; font-size:.7em; font-style:italic;}

#invoice_form table
    {width:100%; border-collapse:collapse; font-size:.85em; vertical-align:bottom;}
#invoice_form .th_p, #invoice_form .th_t
    {width:5em;}
#invoice_form .th_q
    {width:4em;}
#invoice_form .th_i
    {width:1em;}
#invoice_form .th_v
    {width:6.2em;}
#invoice_form .th_c
    {width:13.75em;}
#invoice_form th
    {background-color:#666; color:white; font-weight:bold; border:1px solid gray; font-family:Verdana, Tahoma, Arial, sans-serif; font-size:.9em; padding:2px;}
#invoice_form td
    {padding:0; background-color:white; border:1px solid gray; height:1.7em;}
#invoice_form tr.odd td
    {background-color:#e0e0e0;}
#invoice_form tr td.empty
    {background-color:transparent; border:0;}
#invoice_form tfoot th
    {text-align:right; padding:2px; border:1px solid gray;}
#invoice_form td input, #invoice_form td select
    {width:100%; border:0; margin:0; background:transparent; font-size:.98em;}
#invoice_form td select
    {margin:0 0 0 1px;}

.errortooltip
    {background-color:#FEF1EC !important; border:1px solid #CD0A0A !important; font-size:14px; font-family:Verdana, Tahoma, Arial, sans-serif; 
	color:#CD0A0A !important; padding:5px !important;}

.modal
    {display:none;}
#simplemodal-overlay
    {background-color:#fff;}
#simplemodal-container
    {font-family:Verdana, Tahoma, Arial, sans-serif; color:#CD0A0A; font-weight:bold; font-size:12px; height:200px; width:350px; text-align:left; padding:5px; 
	border-radius:7px; -webkit-border-radius:7px; -moz-border-radius:7px; border:5px solid #CD0A0A; background-color:#FEF1EC;}
.close-button:link, 
.close-button:active, 
.close-button:visited, 
.close-button:hover
    {padding:1px 8px; background-color:#CD0A0A; text-decoration:none; font-size:14px; font-family:Arial; font-weight:bold; color:#fff; border-radius:4px; 
	-webkit-border-radius:4px; -moz-border-radius:4px; border:1px solid #fff; display:block; z-index:3200; position:absolute; top:1px; right:1px; cursor:pointer; 
	text-align:center;}