#winery_invoices .section_head a:link, #winery_invoices .section_head a:visited, 
#winery_invoices .section_head a:active, #winery_invoices .section_head a:hover
	{color:#0296ff;}
#winery_invoices .section_body a:link, #winery_invoices .section_body a:visited, 
#winery_invoices .section_body a:active, #winery_invoices .section_body a:hover
	{color:#fff;}
#winery_invoices .sidebar
	{width:30%; float:left; padding:0; margin:0;}
#winery_invoices .sidebar .section
	{width:100%;}
#winery_invoices .section
	{float:left; margin:10px 1.5%; padding:0; background-color:#333; border:5px solid #333; color:#fff; -moz-border-radius:10px; 
	-webkit-border-radius:10px; border-radius:10px; width:80%;}
#winery_invoices .section_head
	{margin:0; padding:0 0 5px 5px; background-color:#333;}
#winery_invoices .section_head h3
	{margin:5px 0; padding:0; color:#fff;}
#winery_invoices .section_body
	{width:100%; border-collapse:collapse; background-color:#888; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;}

#winery_invoices table tr
	{margin:0;}
#winery_invoices table td
	{margin:0; width:50%; padding:0;}
#winery_invoices table td.invoice_list_right
	{text-align:right;}
#winery_invoices table td.invoice_list_left
	{text-align:left;}
#winery_invoices table td
	{border-bottom:1px solid #333;}
#winery_invoices table td a
	{display:block; margin:0; padding:0 5px;}
#winery_invoices table td a.mark
	{display:inline; padding:2px 7px; background-color:#333; border:1px solid #2af; -moz-border-radius:3px; }
#winery_invoices table td a.mark:hover
	{border-color:#ddd;}
#winery_invoices table tr:last-child td
	{border-bottom:0;}
#winery_invoices table tr:last-child td, #winery_invoices table tr:first-child td
	{-moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;}
#winery_invoices table tr:hover td a
	{background-color:#999;}
#winery_invoices table tr:hover td a.mark
	{background-color:#333;}
#winery_invoices table .invoice_num
	{font-weight:bold; font-size:1.75em; top:3px; position:relative;}
#winery_invoices table .invoice_paid
	{padding:1px 20px 1px 3px; background:url(images/paid.png) no-repeat right top;}
#winery_invoices table .invoice_unpaid
	{padding:1px 20px 1px 3px; background:url(images/paid.png) no-repeat right bottom;}