#invoice_form 
	{font-size:14px; padding:0; width:675px;}
#invoice_form h2, #invoice_form h3
    {font-weight:bold; font-size:18px; padding:5px 0 0 3px;}
#invoice_form label
    {font-weight:bold; font-size:12px;}
#invoice_form input, #invoice_form select
    {border:0; border-bottom:1px solid gray; background-color:white; color:black; font-size:12px;}

#invoice_form .form_header, #invoice_form .invoice_info, #invoice_form .order_table
    {clear:both;}
#invoice_form .form_header h2, #invoice_form .form_header div, #invoice_form .invoice_info>div
    {float:left; margin:0; padding:5px 0 5px 3px;}

#invoice_form .form_header div, #invoice_form .invoice_info .winery
    {float:right;}
#invoice_form .form_header div
    {text-align:right;}
#invoice_form .form_header input
    {width:125px; text-align:center;}

#invoice_form .invoice_info
    {overflow:auto; margin:0 0 10px; padding:0; border:0px solid gray;}
#invoice_form .invoice_info h2
    {float:none;}
#invoice_form .invoice_info div.billing div, #invoice_form .invoice_info div.winery div
    {margin: 0 0 5px 125px;}
#invoice_form .invoice_info div.billing input, #invoice_form .invoice_info div.billing select,
#invoice_form .invoice_info div.winery input, #invoice_form .invoice_info div.winery select
    {width:200px;}
#invoice_form .invoice_info div.billing div label, #invoice_form .invoice_info div.winery div label
    {line-height: 1.1em; margin: 5px 5px 0 -125px; width: 120px; float: left;}

#invoice_form table
    {width:100%; border-collapse:collapse; font-size:.8em; vertical-align:bottom; text-align:center;}
#invoice_form .th_p, #invoice_form .th_t
    {width:4em;}
#invoice_form .th_q
    {width:3em;}
#invoice_form .th_v
    {width:5.2em;}
#invoice_form .th_c
    {width:12.5em;}
#invoice_form th
    {background-color:#666; color:white; font-weight:bold; border:1px solid gray; font-family:Verdana, Tahoma, Arial, sans-serif; font-size:.9em; padding:2px; line-height:1em;}
#invoice_form td
    {padding:0; background-color:white; border:1px solid gray; line-height:1.2em;}
#invoice_form tr.odd td
    {background-color:#e0e0e0;}
#invoice_form tr td.empty
    {background-color:transparent; border:0;}
#invoice_form tfoot th
    {text-align:right; padding:2px; border:1px solid gray;}
	
#footer
	{position:fixed; bottom:0; width:675px; overflow:auto;}
#footer p.notes
	{font-size:.75em; line-height:1.1em;}
#footer p.notes span
	{font-weight:bold;}
#footer p.cut
	{font-weight:bold; font-style:italic; border-bottom:2px dotted red; overflow:auto;}
#footer p.cut .right
	{float:right; display:block; font-style:normal;}
#footer p.address
	{padding-left:80px; line-height:1em;}
#footer p.address span
	{font-size:.75em; font-weight:bold; font-style:italic;}
#footer p.fold
	{margin-top:40px; border-bottom:1px solid red; padding-left:15px; font-size:.85em;}
	
#footer table
	{font-size:.8em; line-height:1em; width:47%; text-align:left; margin:10px; float:left; margin-top:-10px;}
#footer table.administration
	{float:right;}
#footer table th
	{padding:3px; font-size:1.1em;}
#footer table td
	{padding:2px;}
#footer table .label
	{font-weight:bold; width:43%;}
#footer table .strong
	{font-size:1.3em; font-weight:bold;}
#footer table .admin_head
	{text-align:center; font-size:1.1em;}