#wineryform {
	font-size:14px;
	padding:0;
}
#wineryform div{
	margin: 0 0 7px 155px;
}
#wineryform div label {
	font-size:14px;
	line-height: 1.1;
	margin: 3px 5px 2px -155px;
	width: 150px;
	float: left;
	font-weight: bold;
}
#wineryform div input, #wineryform div select {
	border:1px solid gray !important;
	width:225px;
}
#wineryform input.error {
	border:1px solid red;
	background-color:#FEF1EC;
}
#wineryform .controls {
	margin:20px 0 10px;
	text-align:left;
}
#wineryform .controls input {
	width:auto;
	height:auto;
	padding:5px 10px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	cursor:pointer;
}

.errortooltip {
	background-color:#FEF1EC !important;
	border:1px solid #CD0A0A !important;
	font-size:14px;
	font-family:Verdana, Tahoma, Arial, sans-serif;
	color:#CD0A0A !important;
	padding:5px !important;
}

.modal {display:none;}
#simplemodal-overlay {background-color:#fff;}
#simplemodal-container {
	font-family:Verdana, Tahoma, Arial, sans-serif;
	color:#CD0A0A;
	font-weight:bold;
	font-size:12px;
	height:150px;
	width:350px;
	text-align:left;
	padding:5px;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border:5px solid #CD0A0A;
	background-color:#FEF1EC;
}
.close-button:link, 
.close-button:active, 
.close-button:visited, 
.close-button:hover {
	padding:1px 15px;
	background-color:#FEF1EC;
	text-decoration:none;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#CD0A0A;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border:1px solid #CD0A0A;
	display:block;
	z-index:3200;
	position:absolute;
	top:1px;
	right:1px;
	cursor:pointer;
	text-align:center;
}