#winery_header
{width:100%; border-bottom:1px solid #666; overflow:auto; margin-bottom:10px; padding-bottom:10px; font-size:.8em;}
#winery_header h4
{padding-left:5px;}
#winery_header .winery_head_menu
{list-style-type:none; padding:0; border:1px solid #000; border-left:0; overflow:auto; float:left;}
#winery_header .winery_head_menu li
{float:left;}
#winery_header .winery_head_menu li a:link, #winery_header .winery_head_menu li a:visited
{display:block; padding:3px 7px; background:#666 url(images/gradient-20px.png) repeat-x top; color:white; text-decoration:none; border-left:1px solid #000; margin:0;}
#winery_header .winery_head_menu li a:hover
{background-color:#808080;}
#winery_header .winery_head_menu li a:active
{background-position:bottom;}