/*
Theme Name: JZJS
Theme URI: http://www.joezimjs.com/
Author: Joseph Zimmerman
Author URI: http://www.joezimjs.com/
Description: This theme was developed for use on <a href="http://www.joezimjs.com">Joe Zim's JavaScript Blog</a>.
Version: 1
License: GNU General Public License
License URI: license.txt
*/
@import url("css/Open_Sans/font.css");

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: "Open Sans", sans-serif; color: #222; }
body { background:#333; margin: 0; font-size: 14px; line-height: 1.7; }

::-moz-selection { background: #19c; color: #fff; text-shadow: none; }
::selection { background: #19c; color: #fff; text-shadow: none; }

a, a:link, a:visited { color: #07a; text-decoration:none; }
a:hover { color:#19c; text-decoration:none; }
a:focus { outline: thin dotted; }
a.button, a.button:link, a.button:visited, a.button:hover, a.button:focus { color:white; }

abbr[title], acronym[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { background:#dfdfdf; font-style:italic; margin: 1em 40px; padding:5px 40px; position:relative; }
blockquote:before, blockquote:after { color:#bbb; content:open-quote; font:bold 70px "times new roman"; position:absolute; }
blockquote:before { left:0; top:-15px; }
blockquote:after { content:close-quote; right:0; bottom:-40px; }
blockquote cite { display:block; font-style:normal; font-weight:bold; text-align:right; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-bottom: 1px solid #eee; border-top: 1px solid #999; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol, menu, dir, dl { margin:0 0 1em; padding: 0 0 0 20px; }
dt { font-style:italic; }
li, dd { margin-bottom:.5em; }
nav ul, nav ol, ul.entry-meta { list-style: none; list-style-image: none; margin: 0; padding: 0; }
nav ul li, nav ol li { display:inline-block; *display:inline; margin:0; zoom:1; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
.field-block { margin:0 0 15px; }
#sidebar .field-block input[type=text] { width:95%; }
button, input, select, textarea, .button { border: 1px solid #07a; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; -webkit-border-radius: 3px; 
	-moz-border-radius: 3px; border-radius: 3px; box-sizing: content-box; display:inline-block; font-size: 100%; margin:0 5px 5px 0; min-width:200px; padding: 3px;
	vertical-align: middle; zoom:1; *display:inline; }
button, input, .button { font-style:italic; }
button, input[type="button"], input[type="reset"], input[type="submit"], .button { background:#19c; color:white; cursor: pointer; margin:0 5px 5px 0;
	min-width:50px; padding:3px 10px; *overflow: visible; }
button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active, .button:active { padding:4px 10px 2px; }
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .button:hover { background:#2ad; }
.button a { color:white; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button[disabled], input[disabled], select[disabled], textarea[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing:border-box; min-width: 13px; padding:0; width:13px; height:13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background: #fee; border-color: #c55; }
input#s { min-width:175px; width:175px; }

table { border-collapse: collapse; border-spacing: 0; margin:0 0 1.2em; }
th, td { padding:2px 5px; }
th { background:#e0e0e0; color:#07a; font-weight:normal; text-align:center; text-transform:uppercase; }
td { border-bottom:1px solid #999; text-align:left; vertical-align: top; }

h1, h2, h3, h4, h5, h6 { line-height:1.2em; margin:1em 0 0; text-shadow:0 1px 1px #fff; }
#template-footer h1, #template-footer h2, #template-footer h3, #template-footer h4, #template-footer h5, #template-footer h6 { text-shadow: 1px 1px 0px #000; }
h4, h5, h6, .widget-title { text-transform:uppercase; }
h1 { font-size:30px; }
h2 { font-size:24px; }
h3 { font-size:20px; }
h4, .widget-title { font-size:16px; }
h5 { font-size:14px; }
h6 { font-size:12px; }

p { margin:0 0 1.2em; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author: Joseph Zimmerman
   ========================================================================== */
/* STRUCTURE */
#template-header-container { margin:0 auto; width:960px; }
#site-title { margin:10px 0 0; text-shadow:none; }
#site-tagline { font-size:18px; font-style:italic; font-weight:normal; margin:0; text-shadow: none; }
#top-nav, #header-search, #header-social-widget-area { clear:right; float:right; padding:5px 0; }

#template-main, #template-footer-container { margin:0 auto; overflow:auto; padding:40px; width:880px; z-index:-100; }
#content, #footer-left { float:left; margin:0 40px 0 0; width:570px; }
#sidebar, #footer-right { float:right; width:270px; }

#footer-nav { clear:both; }
#footer-nav li { margin:5px 10px; }
#footer-newsletter { padding:5px 5px 5px 120px; position:relative; }
#footer-newsletter > div, #footer-newsletter > p { margin-bottom:5px; }
#footer-newsletter img { position:absolute; left:-15px; top:-15px; }
   
/* HEADER */
#template-header { -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .75); -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .75);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .75); color:#eee; position: relative; }
#top-nav li { padding:0 5px; }
#main-nav { clear:both; }
#main-nav li a { display:block; line-height:40px; padding:0 20px; }
#main-nav li a:hover { background: #eee; 	background: -moz-linear-gradient(top,  #eee 0%, #ccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee), color-stop(100%,#ccc));
	background: -webkit-linear-gradient(top,  #eee 0%,#ccc 100%); background: -o-linear-gradient(top,  #eee 0%,#ccc 100%);
	background: -ms-linear-gradient(top,  #eee 0%,#ccc 100%); background: linear-gradient(top,  #eee 0%,#ccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
	color:#222; }
#main-nav li.current-menu-item a { font-weight:bold; }

#template-header a, #template-header a:link, #template-header a:visited, #template-header a:hover { color:#eee; text-decoration:none; }
#template-header a:hover { color:#fff; }

/* MAIN BODY */
#template-main { background:#ccc; border-bottom:#333; }
#above-post-widgets, #below-post-widgets { margin:0 0 1em; }

/* ARTICLE STYLES */
article.entry { margin-bottom:30px; }
article.sticky { background:#ddd; margin:0 -1em 30px; padding:1em; }
.entry-header {margin-bottom: 1em; }
.entry-title { color:#07a; font:100 30px/1.0 "Open Sans", "Segoe UI", sans-serif; margin:0;}
.entry-meta { color:#666; }
.entry-meta li { display:inline-block; font-size:12px; padding-right:10px; margin:0 5px 0 0; border-right:1px solid #222; line-height:1em; }
.entry-meta li img { margin:-2px 5px 0 0; height:16px; width:16px; }
.entry-meta li:last-child { border:0; margin:0; padding-right:0; }
footer.entry-meta { margin:0 0 1em; }
hr.entry-divider { border-bottom:1px solid #fff; border-top:1px solid #777; clear:both; height:0; margin-bottom:30px; }
.more-link { clear:both; display:block; margin:1.2em 0 -1.2em; }
.entry-pagination { margin:0 0 1em; overflow:auto; }

.page-links { font-weight:bold; margin:1.25em 0; }

.old-posts, .new-posts, .prev-post, .next-post { display:block; margin:0; max-width:40%; }
.old-posts, .prev-post { float:left; }
.new-posts, .next-post { float:right; }
.old-posts.box-link, .prev-post.box-link { background:url('images/nav-arrow-left.png') left center no-repeat; padding-left:25px; }
.new-posts.box-link, .next-post.box-link { background:url('images/nav-arrow-right.png') right center no-repeat; padding-right:25px; }
a:hover .old-posts.box-link, a:hover .prev-post.box-link { background-image:url('images/nav-arrow-left-hover.png'); }
a:hover .new-posts.box-link, a:hover .next-post.box-link { background-image:url('images/nav-arrow-right-hover.png'); }

/* SIDEBAR */
.widget { margin-bottom:20px; }
.widget-title { margin-top:0; }
.sidebar-ads img { float:left; margin:5px; }
.widget ul { list-style-type:none; padding:0; }
.widget ul li { border-left:3px solid #07a; list-style-type:none; padding:0 8px; }
.widget ul li:hover { border-color:#19c; }
.widget ul li a { display:block; }


/* FOOTER */
#footer-newsletter > div, #footer-newsletter > p { font-style:italic; }
.tweet { clear:both; }
.tweeter { display:block; font-weight:bold; }
#footer-bottom { clear:both; text-align:center; }

/* PLUGINS */
.shr-bookmarks:before, .shr-bookmarks:after { content: ""; display: table; }
.shr-bookmarks:after { clear: both; }
.yarpp-head { clear:both; margin:20px 0 5px; border-top:2px solid #ccc; border-bottom:2px solid #ccc; font-weight:bold; }
.geshi li { color:#fff; margin:0; }
.widget .tweet a { display:inline; }
.dsq-button { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; min-width:none; }
.tagcloud { line-height:1.15; text-align: center; }

/* PROJECTS */
.project-listing h2 { margin:0; }
.project-listing .project-logo { width:150px; height:150px; border: 1px solid #bbb; }
.project-listing a:hover .project-logo { border: 1px solid #19c; }
.project-listing .project-logo-cell { width:110px; }
.project-listing td { vertical-align:top; padding:15px 5px; }
.project-listing .project-download { text-align:right; }
td.documentation-function { background-color:#bbb; color: #333; padding:2px 5px; }
td.documentation-function code { font-weight:bold; }


/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.clear { clear:both; }
br.clear { display:block; height:0; }

.alignleft { float:left; margin:0 10px 10px 0; }
.alignright { float:right; margin:0 0 10px 10px; }
.aligncenter { display:block; margin:10px auto; }
img.alignleft, img.alignright { margin-top:5px; }

span.box-link { border:1px solid #222; /*-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;*/ padding:.5em .9em; }
a span.box-link { background:#ddd; border-color:#07a; }
a:hover span.box-link { border-color:#19c; }

.popout-gray { border-bottom: 1px solid #000000; border-top: 1px solid #666666; }
.gradient-gray { background: #2c2c2c; background: -moz-linear-gradient(top,  #333 0%, #222 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#222));
	background: -webkit-linear-gradient(top,  #333 0%,#222 100%); background: -o-linear-gradient(top,  #333 0%,#222 100%);
	background: -ms-linear-gradient(top,  #333 0%,#222 100%); background: linear-gradient(top,  #333 0%,#222 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=0 ); color:#eee; }
.gradient-darkgray { background: #222; background: -moz-linear-gradient(top,  #222 0%, #090909 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222), color-stop(100%,#090909)); 
	background: -webkit-linear-gradient(top,  #222 0%,#090909 100%); background: -o-linear-gradient(top,  #222 0%,#090909 100%); 
	background: -ms-linear-gradient(top,  #222 0%,#090909 100%); background: linear-gradient(top,  #222 0%,#090909 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#090909',GradientType=0 ); color:#eee; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
